<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/stylesheets/breeds.css"/>
    <link rel="stylesheet"  href="/stylesheets/menu.css" />
		  <link rel="stylesheet"  href="/stylesheets/register.css" />
	<title>  Cakes </title>

</head>
<body >

	<div id="containers">
	<nav>
			<ul>
					<li><a href="/hello">HELLO PAGE</a></li>
					<li><a href="/cakes">CAKES</a>
					<li><a href="/info">INFORMATION</a></li>
					<% if (user) { %>
					<li><a href="/logout">LOG OUT</a></li>
					<% } else { %>
				<li><a href="/login">LOG IN</a></li>
					<% } %>

			</ul>
	</nav>
</div>
<div class="container">
	<div id="login">
			<form action="/cakes/newpost" method="POST" enctype="multipart/form-data">
					<fieldset class="clearfix">
						<label>TITLE</label>
						<p><input type="text" name = "title" value = "title" onBlur="if(this.value == '') this.value = 'title'" onFocus="if(this.value == 'title') this.value = ''" required/></p>
						<label>DESCRIPTION</label>
						<p><input type="text" name = "description" value = "description" onBlur="if(this.value == '') this.value = 'description'" onFocus="if(this.value == 'description') this.value = ''" required/></p>
						<label>IMAGE</label>
						<input type='file' name='post' />
						<p><input type="submit" value="POST"></p>
					</fieldset>
			</form>
	</div>
  </div>

</body>
</html>
