<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet"  href="/stylesheets/menu.css"/>
    <link rel="stylesheet"  href="/stylesheets/register.css"/>
	<script src="js/slide_bar.js"></script>
	<title>  Cakes </title>
    <link rel="shortcut icon" href="/images/icon.ico" />
</head>
<body >
	<div id="containers">
	<nav>
			<ul>
					<li><a href="/hello">HELLO PAGE</a></li>
					<li><a href="/cakes">CAKES</a>
					<li><a href="/">INFORMATION</a></li>
					<% if (user) { %>
					<li><a href="/logout">LOG OUT</a></li>
					<% } else { %>
				<li><a href="/login">LOG IN</a></li>
					<% } %>

			</ul>
	</nav>
	</div>

    <div id="login">
        <form form action='/register' method='POST'>
            <fieldset class="clearfix">
                <p><span class="fontawesome-user"></span><input type="text" name="username"  value="username" onBlur="if(this.value == '') this.value = 'username'" onFocus="if(this.value == 'username') this.value = ''" required></p>
                <p><span class="fontawesome-user"></span><input type="text" name="firstname" value="firstname" onBlur="if(this.value == '') this.value = 'firstname'" onFocus="if(this.value == 'firstname') this.value = ''" required></p>
								<p><span class="fontawesome-user"></span><input type="text" name="lastname" value="lastname" onBlur="if(this.value == '') this.value = 'lastname'" onFocus="if(this.value == 'lastname') this.value = ''" required></p>
								<p><span class="fontawesome-lock"></span><input type="password"  name="pass" value="pass" onBlur="if(this.value == '') this.value = 'pass'" onFocus="if(this.value == 'pass') this.value = ''" required ></p>
								<p><span class="fontawesome-lock"></span><input type="password"  name="pass2" value="pass2" onBlur="if(this.value == '') this.value = 'pass2'" onFocus="if(this.value == 'pass2') this.value = ''" required</p>
                <p><input type="submit" value="REGISTER"></p>
            </fieldset>
        </form>
        <p>Already have account? &nbsp;&nbsp;<a href="/login">LOG IN</a><span class="fontawesome-arrow-right"></span></p>
    </div>

		<footer> <h1><% if (user) { %>
		YOU ARE <%= user.username %>
		<% } %></h1>
				</footer>

</body>
</html>
